lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*~

data/nueral_networks/trained*
data/merged_data/*.js
data/.

pids
logs
results

npm-debug.log
data/function_data/combined.json
data/function_data/merge_data.json
